# **/*.js
# **/*.tsx
**/*.snap.js
**/*.test.js
**/*.test.tsx
.gradle
.node
.scannerwork
build
coverage
node
node_modules
test-results
yarn
**/build
*.d.ts
api
src/data/services/graphql.ts
src/main/resources
src/serviceWorker.ts
src/tests/
**/*.snap
