# Known2 Ignore Files

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock*

#API
/api/mockup/node_modules
/api/mockup/yarn.lock

/**/*.js.snap
/**/*.tsx.snap
/.gradle/
/.node/
